&nbsp

<form action="/square/results">
  <label for="value">Enter a number</label>
  <input id="value" type="text" placeholder="What number do you want to take the square of?" name="input">
  <button>calculate square</button>
</form>
